<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">

    <script src="DEP/howler.js"></script>
    <script src="DEP/vue.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
</head>

<body>
    <div id="notifyTerkep">
        <template>
            <transition name="eltunes">
                <div v-if="aktivak.length > 0">
                    <div class="notifyParent">
                        <transition-group name="eltunes">
                            <div class="notifyBlock" v-for="(a, index) in aktivak" :key="index">
                                <div :style="{ 'backgroundColor': a.color }" class="notifyHeader">
                                    <img style="width:1.75vw; padding:.25vw; padding-right: .5vw;"
                                        :src="`img/${a.kep}`" alt="">
                                    {{ a.header }}
                                </div>
                                <div class="notifySzovegBlock">{{
                                    a.msg }}
                                </div>
                                <div class="meter">
                                    <span
                                        :style="{ 'backgroundColor': a.color, width: (a.ido/a.givenTime)*100 + '%'}"></span>
                                </div>
                            </div>
                        </transition-group>
                    </div>
                </div>
            </transition>
        </template>
    </div>

    <script>
        Vue.config.productionTip = false;
        Vue.config.devtools = false;

        const notifyTerkep = new Vue({
            el: "#notifyTerkep",
            data: {
                aktivak: [],
                intervalTimer: null
            },
            methods: {
                Notify: function (msg, header, kep, time, color) {
                    time = (time * 10);
                    if (this.aktivak.length >= 4) this.aktivak.pop(); // MAXIMUM NOTIFICATIONS TO SHOW UP

                    msg = unescape(msg);

                    this.aktivak.push({
                        msg: msg,
                        header: header,
                        kep: kep,
                        ido: time,
                        givenTime: time,
                        color: color
                    });

                    new Howl({
                        src: [`notifyHang.mp3`],
                        autoplay: true,
                        loop: false,
                        volume: 0.5,
                    });

                    if (this.intervalTimer == null) {
                        this.intervalTimer = setInterval(() => {
                            this.aktivak.forEach((a, index) => {
                                a.ido--;
                                if (a.ido < 1) {
                                    this.loopAgain();
                                }
                            });
                        }, 100);
                    }
                },
                loopAgain: function () {
                    let deleted = false;
                    this.aktivak.forEach((a, index) => {
                        if (deleted) return;
                        if (a.ido < 1) {
                            deleted = true;
                            this.aktivak.splice(this.aktivak.indexOf(a), 1);

                            if (this.aktivak.length < 1) {
                                if (this.intervalTimer != null) clearInterval(this.intervalTimer), this.intervalTimer = null;
                            } else {
                                this.loopAgain();
                            }
                        }
                    });
                }
            }
        });

        window.addEventListener('message', (event) => {
            if (event.data.type == 'aquiverNotify') {
                notifyTerkep.Notify(event.data.msg, event.data.header, event.data.img, event.data.time, event.data.color);
            }
        });
    </script>


    <style>
        @font-face {
            font-family: "majestic";
            src: url("ProximaNova.woff") format('woff');
        }

        .meter {
            height: .27vh;
            /* Can be anything */
            position: relative;
            background: #555;
            box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
        }

        .meter>span {
            display: block;
            height: 100%;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            background-color: rgb(0, 119, 255);
            box-shadow:
                inset 0 2px 9px rgba(255, 255, 255, 0.3),
                inset 0 -2px 6px rgba(0, 0, 0, 0.4);
            position: relative;
            overflow: hidden;
            transition: cubic-bezier();
            transition-duration: .25s;
        }

        .notifyParent {
            height: 70vh;
            width: 13vw;
            top: 9vh;
            left: 1.5vw;
            position: relative;
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            transition: cubic-bezier();
            transition-duration: .25s;
        }

        .notifySzovegBlock {
            padding: .5vw;
            word-wrap: break-word;
            font-size: .8vw;
            white-space: pre-wrap;
            transition: cubic-bezier();
            transition-duration: .25s;
        }

        body {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            overflow: hidden;
            font-family: majestic;
        }

        .notifyHeader {
            display: flex;
            min-height: 3vh;
            max-height: 8vh;
            margin-bottom: 0;
            background-color: rgba(0, 0, 0, 0.55);
            font-weight: bold;
            color: white;
            align-items: center;
            border-bottom: solid .1vw rgba(0, 0, 0, 0.45);
            padding-left: .5vw;
            font-size: 1vw;
            word-break: break-all;
            word-wrap: break-word;
            text-shadow: 1px 1px 1px black;
        }

        .notifyBlock {
            min-height: 5vh;
            max-height: 35vh;
            width: 13vw;
            background: rgba(0, 0, 0, .55);
            -webkit-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.5) inset !important;
            box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.5) inset !important;

            margin-top: .5vw;

            color: white;
            font-size: .9vw;
            left: 0;

            position: relative;
            animation: aquiverAnimation 1s alternate ease;
        }

        @keyframes aquiverAnimation {
            from {
                opacity: 0;
                left: -5vw;
            }

            to {
                opacity: 1;
            }
        }

        .eltunes-leave-active {
            transition: all 0.7s ease;
        }

        .eltunes-leave-to,
        .eltunes-leave-active {
            opacity: 0;
            left: -5vw;
        }
    </style>
</body>

</html>